@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text Light');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text Regular');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text Bold');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text XBold');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text Heavy');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text Black');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text Light');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text Regular');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text Bold');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Text';
  src: url('./fonts/text.ttf') format('truetype') local('Text XBold');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
